<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dailyquest">

    <!-- 앱이 원하는 정확한 시간에 알림을 실행할 수 있도록, 정확한 알림 권한을 OS에 요청
         targetSdk 31 이상 환경에서 권한 선언 없이 알람 매서드 호출시, 크래시 발생-->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DailyQuest">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".TodoMidnightReceiver"
            android:exported="false">
                <intent-filter>
                    <action android:name="android.intent.action.TIME_SET" />
                    <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                </intent-filter>
        </receiver>

        <!-- BroadcastReceiver 구현 클래스의 경로 지정. 기본 경로가 com.example.dailyquest 이므로, 클래스 명만 입력하면, 경로 인식 -->
        <!-- exported=false : 보안 옵션. 이 리시버를 오직 앱 내부(OS 포함)에서만 호출할 수 있도록 제한 -->

    </application>

</manifest>